# Dependencias
node_modules/

# Archivos compilados
/dist/

# Sourcemaps generados
*.map

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache local
.sass-cache/

# Archivos del sistema
.DS_Store
Thumbs.db
